[submodule "portfolio/2223107-cami/ICT_AI_W2_Cami"]
	path = portfolio/2223107-cami/ICT_AI_W2_Cami
	url = https://github.com/2223107-cami/ICT_AI_W2_Cami.git
[submodule "portfolio/2223107-cami/ICT_AI_W1_Cami"]
	path = portfolio/2223107-cami/ICT_AI_W1_Cami
	url = https://github.com/2223107-cami/ICT_AI_W1_Cami.git
[submodule "portfolio/haha197/chat"]
	path = portfolio/haha197/chat
	url = https://github.com/haha197/chat.git
[submodule "portfolio/haha197/stackblitz-starters-nwue149t"]
	path = portfolio/haha197/stackblitz-starters-nwue149t
	url = https://github.com/haha197/stackblitz-starters-nwue149t.git
[submodule "portfolio/kou1gn/20250912-1st-repo"]
	path = portfolio/kou1gn/20250912-1st-repo
	url = https://github.com/kou1gn/20250912-1st-repo.git
[submodule "portfolio/BARON1118/cotd"]
	path = portfolio/BARON1118/cotd
	url = https://github.com/BARON1118/cotd.git
[submodule "portfolio/EmilyLau41/emotionapp"]
	path = portfolio/EmilyLau41/emotionapp
	url = https://github.com/EmilyLau41/emotionapp.git
[submodule "portfolio/2526452-cmd/q3-hk-"]
	path = portfolio/2526452-cmd/q3-hk-
	url = https://github.com/2526452-cmd/q3-hk-.git
[submodule "portfolio/2526452-cmd/Q4-HKSC-FRIEND"]
	path = portfolio/2526452-cmd/Q4-HKSC-FRIEND
	url = https://github.com/2526452-cmd/Q4-HKSC-FRIEND.git
[submodule "portfolio/2526452-cmd/q1"]
	path = portfolio/2526452-cmd/q1
	url = https://github.com/2526452-cmd/q1.git
[submodule "portfolio/2526453/chatroom-but-GREEEEEEEEEEEN"]
	path = portfolio/2526453/chatroom-but-GREEEEEEEEEEEN
	url = https://github.com/2526453/chatroom-but-GREEEEEEEEEEEN.git
[submodule "portfolio/2526453/weeeeeeeeeeee"]
	path = portfolio/2526453/weeeeeeeeeeee
	url = https://github.com/2526453/weeeeeeeeeeee.git
[submodule "portfolio/2526453/meow"]
	path = portfolio/2526453/meow
	url = https://github.com/2526453/meow.git
[submodule "portfolio/2526454-ship-it/GT"]
	path = portfolio/2526454-ship-it/GT
	url = https://github.com/2526454-ship-it/GT.git
[submodule "portfolio/hayden626/po-1"]
	path = portfolio/hayden626/po-1
	url = https://github.com/hayden626/po-1.git
[submodule "portfolio/hayden626/stackblitz-starters-lvgcssag"]
	path = portfolio/hayden626/stackblitz-starters-lvgcssag
	url = https://github.com/hayden626/stackblitz-starters-lvgcssag.git
[submodule "portfolio/hayden626/4M24"]
	path = portfolio/hayden626/4M24
	url = https://github.com/hayden626/4M24.git
[submodule "portfolio/ethanhksc0930/piano-hehehehehhahhahhahahhahaaahhahahaha"]
	path = portfolio/ethanhksc0930/piano-hehehehehhahhahhahahhahaaahhahahaha
	url = https://github.com/ethanhksc0930/piano-hehehehehhahhahhahahhahaaahhahahaha.git
[submodule "portfolio/2526465-lgtm/on9-game"]
	path = portfolio/2526465-lgtm/on9-game
	url = https://github.com/2526465-lgtm/on9-game.git
[submodule "portfolio/2223176-tech/stackblitz-starters-6xsn86o2nbanbanbanba"]
	path = portfolio/2223176-tech/stackblitz-starters-6xsn86o2nbanbanbanba
	url = https://github.com/2223176-tech/stackblitz-starters-6xsn86o2nbanbanbanba.git
[submodule "portfolio/2223176-tech/one-game"]
	path = portfolio/2223176-tech/one-game
	url = https://github.com/2223176-tech/one-game.git
[submodule "portfolio/2223176-tech/nba-marks-scot"]
	path = portfolio/2223176-tech/nba-marks-scot
	url = https://github.com/2223176-tech/nba-marks-scot.git
[submodule "portfolio/2223176-tech/nba-marks-sc"]
	path = portfolio/2223176-tech/nba-marks-sc
	url = https://github.com/2223176-tech/nba-marks-sc.git
[submodule "portfolio/2223176-tech/nba-daniel"]
	path = portfolio/2223176-tech/nba-daniel
	url = https://github.com/2223176-tech/nba-daniel.git
[submodule "portfolio/2526470-collab/hksc-woman-toilet"]
	path = portfolio/2526470-collab/hksc-woman-toilet
	url = https://github.com/2526470-collab/hksc-woman-toilet.git
[submodule "portfolio/2526470-collab/Krystal"]
	path = portfolio/2526470-collab/Krystal
	url = https://github.com/2526470-collab/Krystal.git
[submodule "portfolio/2223107-cami/ICT_AI_W3_Cami"]
	path = portfolio/2223107-cami/ICT_AI_W3_Cami
	url = https://github.com/2223107-cami/ICT_AI_W3_Cami.git
[submodule "portfolio/Koodybiglookyea/koody"]
	path = portfolio/Koodybiglookyea/koody
	url = https://github.com/Koodybiglookyea/koody.git
[submodule "portfolio/haha197/jslearning"]
	path = portfolio/haha197/jslearning
	url = https://github.com/haha197/jslearning.git
[submodule "portfolio/BARON1118/stackblitz-hksc-daily"]
	path = portfolio/BARON1118/stackblitz-hksc-daily
	url = https://github.com/BARON1118/stackblitz-hksc-daily.git
[submodule "portfolio/BARON1118/stackblitz-starters-rjvwwbjg"]
	path = portfolio/BARON1118/stackblitz-starters-rjvwwbjg
	url = https://github.com/BARON1118/stackblitz-starters-rjvwwbjg.git
[submodule "portfolio/EmilyLau41/cheat-room"]
	path = portfolio/EmilyLau41/cheat-room
	url = https://github.com/EmilyLau41/cheat-room.git
[submodule "portfolio/EmilyLau41/skyapp"]
	path = portfolio/EmilyLau41/skyapp
	url = https://github.com/EmilyLau41/skyapp.git
[submodule "portfolio/2526454-ship-it/CW-chcicken-Warfare"]
	path = portfolio/2526454-ship-it/CW-chcicken-Warfare
	url = https://github.com/2526454-ship-it/CW-chcicken-Warfare.git
[submodule "portfolio/hayden626/Hayden-mugffd"]
	path = portfolio/hayden626/Hayden-mugffd
	url = https://github.com/hayden626/Hayden-mugffd.git
[submodule "portfolio/ethanhksc0930/simple-Hz-generator"]
	path = portfolio/ethanhksc0930/simple-Hz-generator
	url = https://github.com/ethanhksc0930/simple-Hz-generator.git
[submodule "portfolio/ethanhksc0930/Sigma-Oscilloscope-simulator"]
	path = portfolio/ethanhksc0930/Sigma-Oscilloscope-simulator
	url = https://github.com/ethanhksc0930/Sigma-Oscilloscope-simulator.git
[submodule "portfolio/2526470-collab/stackblitz-starters-8lhyu1m1"]
	path = portfolio/2526470-collab/stackblitz-starters-8lhyu1m1
	url = https://github.com/2526470-collab/stackblitz-starters-8lhyu1m1.git
